body {
    height: 100vh;
    margin: 0;
    display: flex;
    background-color: #EEF5FF;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu;
}

.container {
    display: flex;
    /* justify-content: center; */
    background-color: #FFFFFF;
    /* border: 1px solid; */
    border-radius: 2%;
    padding: 1%;
    flex-basis: 55rem;
    /* margin: 30%; */
    gap: 5%;
    color: #04285A;
}

#background-mob {
    display: none;
}

#background-desk {
    display: flex;
}

.side-bar {
    position: relative;
    color: white;
    z-index: 0;
    flex-basis: 33%;
}

h3 {
    border: 1px solid;
    border-radius: 50%;
    padding: 1.7% 4.5% 3% 4.5%;
    margin: 1rem 1rem 1rem 0rem;
}

.steps {
    font-weight: 400;
}

#side-text {
    position: absolute;
    top: 1rem;
    font-size: 90%;
    width: 100%;
    padding: 0% 0% 0% 5%;
}

.steps-text {
    font-weight: 700;
}

.bullets {
    display: flex;
    margin: 0rem 1rem 0rem 1rem;

}

.header-text {
    color: gray;
    font-size: 82%;
}

.bullet-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-heading {
    margin: 0% 0% 2% 0%;
}

#page1 {
    /* border: 1px solid; */
    padding: 5% 10% 5% 5%;
    display: flex;
    flex-basis: 67%;
    flex-direction: column;
    justify-content: space-between;
}


.element-heading {
    display: flex;
    justify-content: space-between;
}

.price {
    color: gray;
}

.freeMonth {
    display: none;
    font-size: 75%;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin-top: -3rem;
}

.main-container input {
    width: 100%;
    border: 1px solid gray;
    border-radius: 0.4rem;
    padding: 2% 0% 2% 2%;
    margin-bottom: 1rem;
}

.error {
    display: none;
    font-size: 60%;
    font-weight: 400;
    color: red;
    margin-right: -0.5rem;
    align-self: flex-end;
}

.input-head {
    display: flex;
    margin-bottom: 0.2rem;
    justify-content: space-between;
}

.footer {
    align-self: flex-end;

}

button {
    background-color: #04285A;
    color: white;
    font-weight: 700;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    border: none;
    border-radius: 0.3rem;
}

#backFromStep2,
#backFromStep3,
#backFromStep4 {
    background: none;
    color: #04285A;
    padding: 0;
}

.backButton {
    display: flex;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #04285A;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: whitesmoke;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked+.slider {
    background-color: #04285A;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(19px);
}

.slider {
    border-radius: 32px;
}

.slider:before {
    border-radius: 50%;
}

#page2 {
    display: none;
    flex-direction: column;
    padding: 2.5rem;
    justify-content: space-between;
}

#page2 .main-container {
    flex-direction: row;
    gap: 1rem;
    padding-top: 2rem;
}

.header-page2-text {
    color: gray;
}

.plan-box {
    display: flex;
    flex-direction: column;
    width: 6rem;
    height: 8rem;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 1px solid lightgray;
    justify-content: space-between;
}

.toggle {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem 1rem 0rem;
    background-color: #F8F9FE;
    border-radius: 0.5rem;
    margin-top: -3rem;
    gap: 1rem;
    font-weight: 500;
}

#toggle1 {
    color: #04285A;
}

#toggle2 {
    color: #04285A;
}

#page2 .footer {
    width: 100%;
    display: flex;
    margin-bottom: -1rem;
    justify-content: space-between;
}

#page2 h5 {
    margin: 0;
}

#page2 .header-text {
    color: gray;
    font-size: 82%;
}


#page3 {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem;
}

#page3 .main-container {
    gap: 1rem;
    margin-top: -1rem;
}

#online-addon,
#storage-addon,
#customizable-addon {
    display: flex;
    border: 2px solid lightgray;
    border-radius: 0.5rem;
    width: 30rem;
    height: 5rem;
    align-items: center;
    justify-content: space-around;
}

.page3-data {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    line-height: 1.5rem;
    margin-left: -1rem;

}

#page3 h4 {
    margin: 0;
    flex-basis: auto;

}

input.add-ons {
    scale: 1.5;
    margin-top: 1rem;
}

#page3 .header-text {
    flex-basis: auto;
    color: gray;
    font-size: 100%;
}

#page3 .footer {
    width: 100%;
    display: flex;
    margin-bottom: -1rem;
    justify-content: space-between;
}
#page3 .price{
    color:#4A42FF
}


#page4 {
    display: none;
    flex-direction: column;
    padding: 2.5rem;
    justify-content: space-between;
    flex-basis: 67%;
}

#page4 .header {
    margin: 0;
}

#page4 .main-container {
    background-color: #F8F9FE;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
}

#page4 .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 11rem;
}

#page4 #back {
    background: none;
    color: #04285A;
    padding: 0;
}

#page4 h4 {
    margin: 0;
}

#plan-summary {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.selected-addons {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 80%;
}

.add-ons-summary{
    font-size: 120%;
    line-height: 2rem;
}

.total-price {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    margin-top: 1rem;
}

#page5 {
    display: none;
    align-items: center;

}
#plan-price{
    font-weight: 700;
}
#page5 h1 {
    margin: 0;
}

#thankyou {
    line-height: 1.6rem;
    color: gray;
}

#thankyouimg {
    scale: 1.5;
}

#page5 .main-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding: 0rem 2.5rem;
}

.selected-page {
    color: #04285A;
    border: none;
    background-color: #BEE1FD;
}

.selected-box {
    border: 2px solid #04285A !important;
    background-color: #F8F9FE;
}
#final-price{
    color:#4A42FF;
    font-weight: 700;
}


@media(max-width: 500px) {
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        justify-content: start;
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        background-color: #EEF5FF;
    }

    #background-desk {
        display: none;
    }

    #background-mob {
        display: flex;
        width: 100%;
    }

    #side-text {
        display: flex;
        flex-direction: row;
        padding: 0;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;
    }

    .bullets {
        margin: 0;
    }

    h3 {
        border: 1px solid;
        border-radius: 50%;
        padding: 0.5rem 0.8rem;
        margin: 0;

    }

    .bullet-heading {
        display: none;
    }

    .header-text {
        font-size: 120%;
        margin-top: 1rem;
    }

    #page1 {
        position: absolute;
        background-color: pink;
        top: 10%;
        display: flex;
        margin: 10% 5%;
        font-size: 90%;
        gap: 5rem;
        border-radius: 0.5rem;
        padding: 2rem 1.3rem;
        background-color: #FFFFFF;
    }

    .footer {
        position: fixed;
        display: flex;
        justify-content: end;
        background-color: #FFFFFF;
        width: 100vw;
        bottom: 0;
        right: 0;
        padding: 1rem;
    }

    #page2 {
        position: absolute;
        display: flex;
        background-color: pink;
        top: 10%;
        margin: 10% 5%;
        font-size: 90%;
        gap: 4rem;
        border-radius: 0.5rem;
        padding: 0.8rem 1.3rem;
        background-color: #FFFFFF;
    }

    #page2 h1 {
        margin: 0;
        font-size: 150%;
        margin-bottom: 1rem;
    }

    #page2 .container {
        width: 100%;
    }

    #page2 .main-container {
        flex-direction: column;
        padding: 0;
    }

    #page2 .plan-box {
        flex-direction: row;
        width: 90%;
        height: 1%;
        padding: 0.6rem;
        justify-content: flex-start;
        gap: 1rem;
    }

    #page2 .toggle {
        padding: 0.8rem 0rem;
    }

    #page2 .footer {
        position: fixed;
        width: 100vw;
        display: flex;
        justify-content: flex-end;
        gap: 10rem;
        background-color: #FFFFFF;
        width: 100vw;
        bottom: 1rem;
        right: 0;
        padding: 1rem;
    }

    #page3 .footer {
        position: fixed;
        width: 100vw;
        display: flex;
        justify-content: flex-end;
        gap: 10rem;
        background-color: #FFFFFF;
        width: 100vw;
        bottom: 1rem;
        right: 0;
        padding: 1rem;
    }

    #page3 {
        position: absolute;
        display: flex;
        background-color: pink;
        top: 10%;
        margin: 10% 5%;
        font-size: 90%;
        gap: 2rem;
        border-radius: 0.5rem;
        padding: 1.5rem 1.3rem;
        background-color: #FFFFFF;
    }

    #online-addon,
    #storage-addon,
    #customizable-addon {
        display: flex;
        border: 2px solid lightgray;
        border-radius: 0.5rem;
        width: 100%;
        height: 4rem;
        align-items: center;
        justify-content: space-around;
    }
    .header-page3-text{
        color: gray;
        margin-bottom: 0.5rem;
    }
    #page3 .price{
        color:#4A42FF
    }
    #page3 .header-text {
        margin: 0;
        font-size: 80%;
    }
    #page3 #header-heading{
        font-size: 200%;
    }
    .page3-data {
        display: flex;
        flex-direction: column;
        margin-left:0.5rem;
        line-height: 1rem;
    }
    #page4 .footer {
        position: fixed;
        width: 100vw;
        display: flex;
        justify-content: flex-end;
        gap: 10.7rem;
        background-color: #FFFFFF;
        width: 100vw;
        bottom: 0rem;
        right: 0;
        padding: 1rem;
    }
    #page4 {
        position: absolute;
        display: flex;
        background-color: pink;
        top: 10%;
        margin: 10% 5%;
        font-size: 90%;
        /* gap: 2rem; */
        justify-content: flex-start;
        border-radius: 0.5rem;
        padding: 1.5rem 1.3rem;
        background-color: #FFFFFF;
    }
    #page5{
        position: absolute;
        display: flex;
        background-color: pink;
        top: 10%;
        margin: 10% 5%;
        font-size: 90%;
        /* gap: 2rem; */
        justify-content: flex-start;
        border-radius: 0.5rem;
        padding: 1.5rem 1.3rem;
        background-color: #FFFFFF;
    }
    #page5 .main-container{
        padding: 5rem 0rem;
        gap: 0;
    }
    #page5 h1{
        margin-bottom: 1rem;
    }
    #thankyouimg{
        scale:0.8;
    }
    .add-ons-summary{
        font-size: 120%;
        line-height: 2rem;
    }

    #page5, #page2, #page3, #page4{
        display: none;
    }

}